body 
{
  font-family: "Open Sans",sans-serif;
  padding: 1rem;
  background-color:#fff;
  
}

section 
{
  margin: 1em 0;
  border-top: 1px solid #333;
  background-color: none;
  border-top: 1px solid #333;
}

h1
{
  font-family: "Montserrat";
  font-size: 2em;
}

h2
{
  font-family: "Montserrat";
  font-size: 28px;
}

h3
{
  font-family: "Montserrat";
  font-size: 20;
}

section h3 
{
  margin-bottom: 0;
}

p
{
  font-size:15;
}

section p 
{
  margin-top: 0;
}

section code 
{
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

.selectQty select 
{
  width: 120px;
  border: #5D5E5E 2px solid;
  height: 30px;
  background-color: #fff;
}

.img1
{
  background-image: url(http://www.carsshow.net/wallpapers/2013/05/2011-BMW-3er-F30-modern-line-6-854x960.jpg);
}

.imgZoom
{
  width:360px;
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  transition: all 0.3s ease-in;;
}

.imgZoom:hover {
  cursor: pointer;
  background-size: 110% 110%;
}

/*.imgText:hover
{
  opacity: 0.5;
  text-align: left;
  color: #fff;
  font-size: 15px;
  padding: 100px;
}*/

.imgBut p
{
  padding-top: 100px;
}

.imgText{
  width:160px;
  height:100px;
  background-color: #000000;
  opacity: 0;
}

a.button 
{
  font-weight: 700;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #5D5E5E;
  background-color: none;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 0.8em;
}

a
{
  text-decoration: none;
  color:#000;
}

a.button:hover, a.button:focus
{
  background-color: #5D5E5E;
  color: #fff;
}

.main, .navDiv, .typeDiv, .butDiv
{
  margin: 0 2% 2% 0;
  float: left;
  display: block;
  height: 150px;
  border-bottom: 1px dashed #FFF;
}

.main
{
  width:81%;
}

.navDiv
{
  width:15%;
}

.typeDiv
{
  width:40%;
}


nav
{
  position: fixed;
  top:0;
  left:0;
  background-color: #EEEEEE;
  width: 10%;
  height: 100%;
  padding: 25px 15px 12px 80px;
  line-height: 2em;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 1px;
}

nav a:hover, nav a:focus
{
  color: #5D5E5E;
}

#pads{
  padding-left: 20px;
  padding-bottom: 20px;
}

.divSections
{
  /**clear: both;**/
  width: 100%;
}


#squareBlk 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 0px 0;
  background-color: #111111;
  text-align: center;
}

#squareBlk p
{
  padding-top: 40px;
  color: #fff;
}

#squareBlue
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 0px 0;
  background-color: #4CA0CB;
  text-align: center;
}

#squareBlue p
{
  padding-top: 40px;
  color: #fff;
}

#squareGray 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 0px 0;
  background-color: #5D5E5F;
  text-align: center;
}

#squareGray p{
  padding-top: 40px;
  color: #fff;
}

#squareBlackGray 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 1px 0;
  background-color: #292B2E;
  text-align: center;
}

#squareBlackGray p{
  padding-top: 40px;
  color: #fff;
}

#squareWhite
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 9px 19px 0px 0;
  background-color: #FFFFFF;
  border:1px solid #000;
  text-align: center;
}

#squareWhite p{
  padding-top: 40px;
  color: #000;
}

.navSite

{
  float:left;
  display: block;
  background-color: #EEEEEE;
  width: 10%;
  height: 10%;
  padding: 0px 20px 0px 20px;
  text-align: center;
}

#navSite ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000;
  line-height: 2.5em;
}
#navSite a 
{
  display: block;
  width: 200px;
  color: #173B66;
}

#navSite a:hover, #navSite a:focus
{
  color: #173B66;
}

#navSite p
{
  padding-left: 20px;
}


#padsBot
{
  padding-bottom: 100px;
}

.logSignForm input
{
  margin:10px 10px 10px 0;
  height: 30px;
  background-color: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  font-color: #fff;
  letter-spacing: 0.1em;
}

