body 
{
  font-family: "Open Sans",sans-serif;
  background-color:#fff;
  line-height: 2em;
}

section 
{
  margin: 1em 0;
  border-top: 1px solid #333;
  background-color: none;
  border-top: 1px solid #333;
}

a, a:visited
{
  text-decoration: none;
  color:#000;
  -webkit-transition: color 0.2s ease-out 0;
    transition: color 0.2s ease-out 0;
}

h1
{
  font-family: "Montserrat";
  font-size: 2em;
  letter-spacing: 0.1em;
}

h2
{
  font-family: "Montserrat";
  font-size: 22px;
  letter-spacing: 0.1em;
}

h3
{
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 0.1em;
}

section h3 
{
  margin-bottom: 0;
}

p
{
  font-size:13px;
  line-height: 18px;
}

section p 
{
  margin-top: 0;
}

section code 
{
  background-color: #EEE;
  padding: 0.5em;
}

ul, ol, li
{
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

hr
{
  margin:2em 1em 2em 1.5em;
  width:70%;
}

code
{
  line-height: 0.1em;
}

.selectQty select 
{
  width: 120px;
  border: #5D5E5E 2px solid;
  height: 30px;
  background-color: #fff;
}

.box5Img
{
  display: inline-block;
  background-image: url(http://www.sfu.ca/~zla52/asset/uncropped/Crane-Ligth-Black.jpg);
}

.box
{
  color: #f8f9f9;
  width: 100%;
  display: block;
  height: auto;
  z-index: 1;
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    transition: all 0.2s ease-in;
    text-align: left;

}

.box1Line {
  padding-top: 1px;
  z-index: 100;
  line-height: 0.8em;
}

.box p {
  font-size: 11px;
  margin-top: 0.7em;
  margin-left: 1.7em;
  font-weight: 300;
  margin-right: 5em;
  line-height: 1.1em;
  letter-spacing: 0.5px;
}

.box h3
{
  margin-left: 1em;
  margin-bottom: 0;
}

.box:hover
{
 /* background-size: 102% 120%;*/
  cursor: pointer;
  color: #292B2E;
}

.bgBoxDescription
{
  margin-top: 260px;
  background-image: 
    linear-gradient(
      rgba(41, 43, 45, 0.3),
      rgba(41, 43, 45, 0.3)
    ), url();
  height: 100px;
}

a.button 
{
  font-weight: 700;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #5D5E5E;
  background-color: none;
  text-decoration: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 0.8em;

  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

a
{
  text-decoration: none;
  color:#000;
}

a.button:hover, a.button:focus
{
  background-color: #5D5E5E;
  color: #fff;
}

.main, .navDiv, .typeDiv, .butDiv
{
  
  float: left;
  display: block;
  height: 150px;
  border-bottom: 1px dashed #FFF;
}

.main
{
  width:81%;
}

.title
{
  letter-spacing: 0.3em;
}

.navDiv
{
  width:175px;
}

.typeDiv
{
  width:40%;
}


nav
{
  position: fixed;
  top:0;
  left:0;
  background-color: #EEEEEE;
  width: 175px;
  height: 100%;
  padding-left: 1em;
  line-height: 2em;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 1px;
}

nav a:hover, nav a:focus
{
  color: #5D5E5E;
}

.nav li.about p
{
  font-size:10px;
  margin-right: 2em;
  margin-left: 2.5em;
  letter-spacing: 0.5px;
}

.wrapper
{
  margin-left: 1em;
}

#pads{
  padding-bottom: 20px;
}




#squareBlk 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 0px 0;
  background-color: #111111;
  text-align: center;
}

#squareBlk p
{
  padding-top: 40px;
  color: #fff;
}

#squareBlue
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 0px 0;
  background-color: #4CA0CB;
  text-align: center;
}

#squareBlue p
{
  padding-top: 40px;
  color: #fff;
}

#squareGray 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 0px 0;
  background-color: #5D5E5F;
  text-align: center;
}

#squareGray p{
  padding-top: 40px;
  color: #fff;
}

#squareBlackGray 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 1px 0;
  background-color: #292B2E;
  text-align: center;
}

#squareLtGray 
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 10px 20px 1px 0;
  background-color: #E9E9E9;
  text-align: center;
}

#squareLtGray p{
  padding-top: 40px;
  color: #fff;
}

#squareBlackGray p{
  padding-top: 40px;
  color: #fff;
}

#squareWhite
{
  width: 100px;
  height: 100px;
  float:left;
  display: inline-block;
  margin: 9px 19px 0px 0;
  background-color: #FFFFFF;
  border:1px solid #000;
  text-align: center;
}

#squareWhite p{
  padding-top: 40px;
  color: #000;
}

.nav
{
  padding-top: 1em;
  margin-top: 1em;
  text-align: left;
}

.nav ul
{
  margin-top: 2em;
  margin: 0;
}

.nav a
{
  margin-left: 2em;
  display: block;
  left:0;
  height:100%;
  line-height: 2em;
  letter-spacing: 1px;
  font-weight: 600;
}

.footer {
  color: #f8f9f9;
  background-color: #222222;
  width: 187px; 
  height: 40px;
}

.footer p
{
  padding-top:1em;
  font-size: 9px;
  line-height: 1em;
  letter-spacing: 0.5px;
  margin-left: 3em;
}


#padsBot
{
  padding-bottom: 100px;
}

.logSignForm input
{
  margin:10px 10px 10px 0;
  height: 20px;
  background-color: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  font-color: #fff;
  letter-spacing: 0.1em;
}

.searchForm input
{
  margin:10px 10px 10px 0;
  height: 30px;
  background-color: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  font-color: #fff;
  letter-spacing: 0.1em;
}

[class^='col-']  {

  padding: 0;
  background-color: #E9E9E9;
}

.col-header {
  width:100%;
  display: inline-block;
}

.col-nav {
  display: inline-block;
    width:187px;
}

.col-1of4 {
  display:inline-block;
  width: 33.3333%;

}

.height
{
  height:50px;
}

.col-2of4 {
  display:inline-block;
  width: 66.6666%;
}

.col-3of4 {

  width:87%;
  display:inline-block;
} 

.col-4of4 {
  width:100%;
  display:inline-block;

}

#border
{
  border: solid 1px black;
}

