/*
Grid Stylesheet touchofm
*/

*, *::after, *::before {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

[class^='col-']  {
	float: left;
	padding: 0;
	text-align: center;
}


.col-1of8 {
/*	width: 220px;*/
	width:16%;
	background-color: #E9E9E9;
	padding: 0;
	height:91em;
}

.col-1of8Prod
{
	height:50em;
}


@media (max-width: 60em){
	.col-1of8{
		width: 100%;
		height:5%;
	}
}

.col-2of8{
	width: 28%;
	padding: 0;
	margin: 0;
	border: solid #000 1px;
}

@media (max-width: 60em) {
	.col-2of8{
		width: 50%;
	}
}

@media (max-width: 30em) {
	.col-2of8{
		width: 100%;
	}
}
.col-2of8forum {
	width: 25%;
}

@media (max-width: 80em){
	.col-6of8form {
		width: 100%;
	}
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

.col-6of8 {
	width: 84%;
}

@media (max-width: 60em) {
	.col-6of8 {
		width: 100%;
	}
}


.col-6of8Purchase{
	width:84%;
}

@media (max-width: 60em) {
	.col-6of8Purchase{
		width: 90%;
	}
}

.col-4of8 {
	width: 50%;
	padding: 0;
	margin: 0;
}

@media (max-width: 60em) {
	.col-4of8 {
		width: 100%;
	}

}
