body {
	font-family: "Open Sans", sans-serif;
	font-size: 80%; 
	color: black;
	padding: 0em;
	margin: 0em;
}

h1
{
  font-family: "Montserrat";
  font-size: 2em;
  letter-spacing: 0.1em;
}

h2
{
  font-family: "Montserrat";
  font-size: 28px;
  letter-spacing: 0.1em;
}

h3
{
  font-weight: 400;	
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 0.1em;
}


.nav {
	display: inline-block;
	top:0;
	left:0;
	/*height: 80em;*/
	height:100%;
	line-height: 2em;
	letter-spacing: 1px;
}

.box {
	left: 0;
	display: inline-block;
	width: 25%;
	height: 324px;
	z-index: 1;
}

.form{
	position: fixed;
	top: 0em;
	width: 25%;
	height: 3em;
	border: solid #f6f6f6 2px;
	background-color: white;
	right: 12.5%;
	z-index: 1000;
}

.purchasePage{
	margin: 5% 5% 5% 5%;
	display: inline-block;
	height:600px;
	width:100%;
}

.purchasePageText
{
	text-align: left;
	margin: 10% 2% 2% 2%;
}

.purchaseForm
{
	margin: 0 0 5% 0;
}

.purchaseForm input
{
	margin-top: 10px;
	margin-left: 1%;
  height: 20px;
  background-color: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  font-color: #fff;
  letter-spacing: 0.1em;
}

.productSummary{
	height:20%;
	width:100%;
	border: solid #5D5E5E 2px;
}

.productCart{
	height:20%;
	width:100%;
	border: solid #5D5E5E 2px;
}

@media (max-width: 60em) {
	.productCart{
		height: 0%;
	}
}

.productCartText{
	text-align: right;

}

.marginBox{
	height:10%;
}

@media (max-width: 60em) {
	.marginBox{
		height: 0%;
	}
}

a {
	text-decoration: none;
}

a.button 
{
  font-weight: 700;
  display: inline-block;
  padding: 0.4em 0.5em;
  color: #5D5E5E;
  background-color: none;
  text-decoration: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 0.8em;
   -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

a.button:hover, a.button:focus
{
  background-color: #5D5E5E;
  color: #fff;
}

