/*** GENERAL ***/
body 
{
	font-family: "Open Sans", sans-serif;
	color: black;
	padding: 0em;
	margin: 0em;
}

a, a:visited 
{
	text-decoration: none;
	color:#000;
	-webkit-transition: color 0.2s ease-out 0;
  	transition: color 0.2s ease-out 0;
}

a:hover 
{
	color: #5D5E5E;
}

h1
{
  font-family: "Montserrat";
  font-size: 2em;
  letter-spacing: 0.1em;
}

h2
{
  font-family: "Montserrat";
  font-size: 28px;
  letter-spacing: 0.1em;
}

h3
{
  font-weight: 400;	
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 0.1em;
}

p
{
  font-size:13px;
}

ul, ol, li 
{
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.nav li.about
{
	text-transform: none;
	margin-bottom: 1em;
	height:200px;
}

hr
{
	margin:2em 1em 2em 1.5em;
	width:70%;
}

/*** END OF GENERAL ***/

/*** NAV ***/
.nav
{
	margin-top: 10em;
	text-align: left;
}

.nav a
{
	display: block;
	left:0;
	/*height: 80em;*/
	height:100%;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: 600;
}

.nav p
{
	letter-spacing: 1px;
	line-height: 2em;
	margin-left: 2em;
}

.navSocial{
	margin-left: 0.5em;
}

.navSocial img
{
	margin-left:1em;
	height:20px;
	float: left;
}

@media (max-width: 60em){
	.nav
	{
		margin-top: 0;
	}
	.navSocial
	{
		margin-bottom: 5em;
	}
}



/*** END OF NAV ***/

/*** BOX STUFF ***/
.box1Img
{
	display: inline-block;
	background-image: url(http://dummyimage.com/600x500/aaa/fff.png);
	width: 100%;
}

.box 
{
	width: 100%;
	height: 324px;
	z-index: 1;
	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	background-position: center center;
  	display: inline-block;
  	transition: all 0.2s ease-in;
}

.box:hover 
{
  background-size: 103% 103%;
  cursor: pointer;
}

.box1Line
{
	opacity: 1;
	color: #000;
	padding-top: 1px;
	margin-top: 255px;
	line-height: 0.8em;
	transition: all 0.1s ease-in;
}

.bgBoxDescription
{
	opacity: 0.5;
	background-color: #eee;
	height: 70px;
}

/*** END OF BOX STUFF ***/

.form{
	display: block;
	top: 0em;
	width: 100%;
	height: 3em;
	border: solid #f6f6f6 2px;
	background-color: white;
	right: 12.5%;
	z-index: 1000;
}

.purchasePage{
	margin: 5% 5% 5% 5%;
	display: inline-block;
	height:600px;
	width:100%;
}

.purchasePageText
{
	text-align: left;
	margin: 10% 2% 2% 2%;
}

.purchaseForm
{
	margin: 0 0 5% 0;
}

.purchaseForm input
{
	margin-top: 10px;
	margin-left: 1%;
  height: 20px;
  background-color: none;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  font-color: #fff;
  letter-spacing: 0.1em;
}

.productSummary{
	height:20%;
	width:100%;
	border: solid #5D5E5E 2px;
}

.productCart{
	height:20%;
	width:100%;
	border: solid #5D5E5E 2px;
}


.productCartText{
	text-align: right;

}

.marginBox{
	height:10%;
}

@media (max-width: 60em) {
	.marginBox{
		height: 0%;
	}
}

.imageHolder {
	width: 100%;
	display: inline-block;
	height: 652px;
	border: solid black 1px;
}




