body
{
	font-family: "Open Sans", sans-serif;
	color: black;
	padding: 0em;
	margin: 0em;
}

a, a:visited
{
	text-decoration: none;
	color:#000;
	-webkit-transition: color 0.2s ease-out 0;
  	transition: color 0.2s ease-out 0;
}

a:hover
{
	color: #5D5E5E;
}

h1
{
  font-family: "Montserrat";
  font-size: 2em;
  letter-spacing: 0.1em;
}

h2
{
  font-family: "Montserrat";
  font-size: 22px;
  letter-spacing: 0.1em;
}

h3
{
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 15px;
  letter-spacing: 0.1em;
}

p
{
  font-size: 13px;
}

ul, ol, li
{
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.nav li.about p
{
	font-size:10px;
	margin-right: 2em;
	margin-left: 2.5em;
	letter-spacing: 0.5px;
}

hr
{
	margin:2em 1em 2em 1.5em;
	width:70%;
}

/*********** BEGINNING OF NAV SIDEBAR ***********/
.nav
{
	margin-top: 5em;
	text-align: left;
}

.navMobile
{
	margin-top: 1.7em;
	text-align: left;
}

.nav a
{
	margin-left: 2em;
	display: block;
	left:0;
	/*height: 80em;*/
	height:100%;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: 600;
}

.navMobile a
{
	display: block;
	left:0;
	/*height: 80em;*/
	height:100%;
	line-height: 3em;
	letter-spacing: 1px;
	font-weight: 600;
}

.navMobile p
{
	font-weight: 300;
	letter-spacing: 1px;
	margin-left: 2em;
}

.aboutMobile p
{
	letter-spacing: 0.5px;
	margin-right: 1em;
	line-height: 1.1em;
	font-weight: 300;
}

#active
{
	color: #5D5E5E;
}

.footer
{
	color: #f8f9f9;
	position: fixed;
	background-color: #222222;
	bottom: 0;
	width: 13%
}

.footerMobile
{
	color: #f8f9f9;
	position: fixed;
	background-color: #222222;
	bottom: 0;
	width: 100%
}

.footer p
{
	margin-left:2em;
	font-size:9px;
	line-height: 1em;
	letter-spacing: 0.5px;
}

.footerMobile p
{
	margin-left: 2em;
	font-size:7px;
	line-height: 0.5em;
	letter-spacing: 0.5px;
}
/*********** END OF NAV SIDEBAR ***********/

/*********** TOP SEARCH BAR ***********/
.logoDiv
{
	width: 290px;
	height: 80%;
}

.search
{
	display: inline-block;
	top: 0em;
	width: 100%;
	height: 2em;
/*	border: solid #f6f6f6 2px;*/
	background-color: #222222;
	z-index: 1000;
	text-align: right;
	margin-right: 1em;
	font-weight: 300;
}

.search p
{
	margin: 0.5em 1em 1em 0px;
	float: right;
	color: #E9E9E9;

}

#demo
{
	color: #E9E9E9;
	display: none;
}

@media (max-width: 65em){
	.nav
	{
		margin-top: 0;
	}
	.navSocial
	{
		margin-bottom: 5em;
	}
	#demo
	{
		margin: 0em 0px 0px 0.5em;
		display: inline-block;
		float: left;
	}
	#hideMainNav
	{
		display:none;
	}
	.logoDiv
	{
		display: none;
	}

}

.search input
{
  height: 23px;
  background-color: #222222;
  border: solid #E9E9E9 1.5px;
  border-radius: 2px;
  margin: 0.4em 2em 0px 0px;
  float: right;
  color: #E9E9E9;
  padding-left: 0.5em;
}

@media (max-width: 45em){
	.search input{
		width: 20%;
		margin: 0.4em 1em 0px 0px;
	}

	.search p{
		margin: 0.5em 1em 0em 0px;
	}
	
}

.search img
{
	float: right;
	height:25px;
	margin: 0.2em 0.1em 0px 0px;
}

#menuButton
{
	top: 0;
	margin-left: 0.5em;
}


/*********** END OF TOP SEARCH BAR ***********/

/*********** BOX STUFF ***********/
.box1Img
{
	display: inline-block;
	background-image: url(http://www.sfu.ca/~zla52/asset/uncropped/kuboram.jpg);
}

.box2Img
{
	display: inline-block;
	background-image: url(http://www.sfu.ca/~zla52/asset/oraTea/Ora-Teapot1.jpg);
}

.box3Img
{
	display: inline-block;
	background-image: url(http://www.sfu.ca/~zla52/asset/watch-02.jpg);
}

.box5Img
{
	display: inline-block;
	background-image: url(http://www.sfu.ca/~zla52/asset/uncropped/Crane-Ligth-Black.jpg);
}

.box6Img
{
	display: inline-block;
	background-image: url(http://www.sfu.ca/~swisjnu/iat339/earth.png);
}

.box7Img
{
	display: inline-block;
	background-image: url(http://www.sfu.ca/~zla52/asset/uncropped/bookendPair.png);
}

.box1aImg
{
	display: inline-block;
	background-image: url(https://touchofmodern.insnw.net/products/000/106/215/c5a03ac72bfe1659be4e1cfdfa55c36b_medium.jpg?1406945090);
}

.box2aImg
{
	display: inline-block;
	background-image: url(https://touchofmodern.insnw.net/products/000/189/492/e178047e8c956583f7d08e5012584c92_medium.jpg?1425675664);
}

.box3aImg
{
	display: inline-block;
	background-image: url(https://touchofmodern.insnw.net/products/000/189/159/faa259972af90902d0473cdf637f00e6_medium.jpg?1425593922);
}

.box5aImg
{
	display: inline-block;
	background-image: url(https://touchofmodern.insnw.net/products/000/160/702/7041f833e9e8d419d12e36135445746c_medium.jpg?1418677358);
}

.box6aImg
{
	display: inline-block;
	background-image: url(https://touchofmodern.insnw.net/products/000/188/854/52ed6de36dae5a3633d4d29d17f1c70e_medium.jpg?1425584664);
}

.box7aImg
{
	display: inline-block;
	background-image: url(https://touchofmodern.insnw.net/products/000/110/728/e023541487f3b5c8059b7f97368efc8a_medium.jpg?1408139131);
}

.box
{
	color: #f8f9f9;
	width: 100%;
	height: auto;
	z-index: 1;
	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	display: inline-block;
  	transition: all 0.2s ease-in;
  	text-align: left;
}

.box:hover
{
 /* background-size: 102% 120%;*/
  cursor: pointer;
  color: #292B2E;
}

.box1Line
{
	padding-top: 1px;
	z-index: 100;
	line-height: 0.8em;
}

.bgBoxDescription
{
	z-index: 0;
	margin-top: 260px;
	background-image: 
    linear-gradient(
      rgba(41, 43, 45, 0.3),
      rgba(41, 43, 45, 0.3)
    ), url();
	height: 100px;
}

#events
{
	background-size: contain;
	background-color: #4CA0CB;
	height: 360px;
	background-position: 50% 80%;
	background-image: url(http://www.sfu.ca/~zla52/asset/8888.png);
}

@media(max-width: 45em){
	#events
	{
		background-size: contain;
		background-image: url(http://www.sfu.ca/~zla52/asset/99-09.png);
	}
	.display
	{
		display: none;
	}
}

#news
{
	background-color: #292B2E;
	height: 360px;
}

.box h2
{
	margin-left: 0.8em;
	letter-spacing: 0px;
}

.box h3
{	
	margin-left: 1em;
	margin-bottom: 0;
}

.box a{
	color: #f8f9f9;
}

.box p
{
	font-size: 11px;
	margin-top: 0.7em;
	margin-left: 1.7em;
	font-weight: 300;
	margin-right: 5em;
	line-height: 1.1em;
	letter-spacing: 0.5px;
}


/*********** END OF BOX STUFF ***********/

/*********** START PRODUCT PAGE ***********/

.gallaryFixed
{
	display: inline-block;
	width: 100%;
	height: 30em;
	/*border: solid #E9E9E9 1.5px;*/
}

@media (max-width: 65em){

	.gallaryFixed {
		width: 100%;
	}
}

.gallary
{	
	width: 100%;
	height: auto;
	/*border: solid #E9E9E9 1.5px;*/
	display: inline-block;


}
.gallaryFixed img
{
	width: 100%;
	height: auto;
}

.gallary img
{
	width: 20%;
	height: auto;
	margin-top: 1.5em;
	margin-right: 1em;
	display: inline-block;
}

.contentBox
{
	width: 80%;
	display: inline-block;
	/*border: solid black 1.5px;*/
	height: auto;
	margin-top: 1em;
	margin-left: 2em;
	float: left;
}

.gotoLeft
{
	width: 80%;
	display: block;
	/*border: solid black 1.5px;*/
	margin-top: 3em;
	text-align: left;
	margin-left: 2em;
}

.contentBox p{
	text-align: left;
	margin-right: 2em;
}

.contentBox h3
{
	text-align: left;
	margin-left: 0;
	font-size: 1em;
	float: left;
}

.leftBox
{
	width: 30%;
	display: inline-block;
	/*border: solid black 1.5px;*/
	height: auto;
	margin-top: 1em;
	float: left;
}

#priceFont
{
	font-family:"OPEN SANS";
	margin-top: 1.2em;
	font-size: 1.2em;
}

.dropdownBox
{
	width: 70%;
	display: inline-block;
	/*border: solid black 1.5px;*/
	height: auto;
	margin-top: 1em;
	float: right;
}

#quantity
{
	display: inline-block;
}

.dropdownBox select
{
	margin-top: 2.5em;
	width: 30%;
	height: 20px;
  	background-color: none;
  	border: solid #5D5E5E 2px;
  	border-radius: 2px;
  	font-color: #fff;
  	letter-spacing: 0.1em;
	border-radius: 1px;
}

.inlineBox
{
	margin-top: 6em;
	width: 100%;
	/*border: solid black 1.5px;*/
	height: auto;
	float: left;
}

.inlineBox h3
{
	font-size: 0.8em;
	text-align: left;
	margin: 0;
	font-weight: 600;
}

#addtobagBut
{
	margin-top: 2.4em;
	margin-left: 0;
	margin-right: 2em;
	width: 50%;
}

.shippingLeft
{
	width: 55%;
	display:block;
	/*border: solid black 1.5px;*/
	height: 2.5em;
	float: left;

}

.shippingRight
{
	width: 45%;
	display: inline-block;
	/*border: solid black 1.5px;*/
	height: 2.5em;
	float: right;
}

.shippingRight p
{
	font-weight: 600;
}

@media (max-width: 65em){

	.gallaryFixed {
		width: 100%;
		height: 30%;
	}
	.gallary{
		width: 245%;
		text-align: left;
	}
	.gotoLeft
	{
		margin-bottom: 0em;
		margin-left: 1em;
	}
	#orateapotcol
	{
		width: 100%;
		margin-right: 10em;
	}
	#addtobagBut
	{
		width:30%;
		margin-right: 4em;
	}
	.contentBox
	{
		width:100%;
		margin-left: 1em;
	}
	.contentBox p
	{
		width:100%;
		margin-right: 8em;
	}
	#productdropdown
	{
		float: right;
		margin-right: 5em;
	}
	#quantity
	{
		float: left;
		margin-left: 25em;
		margin-top: 2em;
	}
}

@media (max-width: 45em){
	.gotoLeft
	{
		margin-bottom: 0em;
		margin-left: 0em;
	}
	.gotoLeft h2
	{
		margin-bottom: 0em;
		margin-left: 0.7em;
	}
	.contentBox{
		width:100%;
		margin-left: 1em;
	}
	.inlineBox
	{
		margin-top: 3em;
	}
	#addtobagBut
	{
		margin-right: 4em;
	}
	#priceFont
{
	margin-top: 1.8em;
	font-size: 0.9em;
}
}

/*********** END PRODUCT PAGE ***********/

/*********** START OF MY BAG PAGE ***********/
.pageTitle 
{
	margin-top: 4em;
	margin-left: 4.5em;
	margin-bottom: 3em;
	text-align: left;
}

.formBox 
{
	margin-left: 6em;
	margin-right: 7em;
	/*border: solid #E9E9E9 1.5px;*/
	height: 37em;
}

.proportionForm 
{
	display: inline-block;
	float: left;
	/*border: solid #E9E9E9 1.5px;*/
	text-align: left;
}

#product {
	width:15%;
}

#item {

	width: 35%;
}

#quantity {

	width: 15%;
}

#update {

	width: 10%;
}

#price {

	width: 10%;
}

#itemTotal {

	width: 15%;
}

.formBox hr 
{
	width: 100%;
	margin-left: 0;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	border: solid black 1.5px;
}

.imageHolder1
{	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(http://www.sfu.ca/~zla52/asset/oraTea/Ora-Teapot-Paul-Loebach-Kikkerland-3.jpg);
	height: 100px;
	width: 85%;
	height: 7em;
	/*margin-left: 0.5em;*/
	margin-bottom: 1em;
}

.imageHolder2
{	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(https://touchofmodern.insnw.net/products/000/189/159/faa259972af90902d0473cdf637f00e6_medium.jpg?1425593922);
	height: 100px;
	width: 85%;
	background-color: black;
	height: 7em;
	/*margin-left: 0.5em;*/
	margin-bottom: 1em;
}

.padding 
{
	margin-top: 2em;
}

.receipt 
{
	width:35%;
	float: right;
	/*border: solid #E9E9E9 1.5px;*/
	margin-top: 2em;
	font-family:"Open Sans";
}

.receipt h2
{
	display: inline-block;
	width: 50%;
	float: left;
	text-align: left;
	font-weight: 600;
	font-size: 0.8em;
	margin-top: 0.5em;

}

.receipt p 
{
	display: inline-block;
	width: 50%;
	float: right;
	text-align: right;
	margin-top: 0em;
	font-size: 0.9em;
}

#fontStrong
{
	font-size:1.2em;
}

#priceStrong
{	
	margin-top: 0.3em;
	font-size: 1.4em;
}


/*********** END OF MY BAG PAGE ***********/

/*********** START OF BUTTON STYLE ***********/
a.button 
{
  font-weight: 700;
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #5D5E5E;
  background-color: none;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: solid #5D5E5E 2px;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 0.8em;
  margin-left: 10em;
}

a
{
  text-decoration: none;
  color:#000;
}

a.button:hover, a.button:focus
{
  background-color: #5D5E5E;
  color: #fff;
}

.button
{
	display: block;
	float: right;
}
/*********** END OF BUTTON STYLE ***********/

/*********** START OF PURCHASE PAGE ***********/

#purchasePgTitle
{
	margin-top: 4em;
	margin-left: 9.5em;
	margin-bottom: 3em;
}

#personalInfoSection
{
	width: 40%;
	height: auto;
}

#paymentMethod
{
	margin-top: 5em;
}

.titleBox
{
	width: 40%;
	display: inline-block;
	/*border: solid #E9E9E9 1.5px;*/
	height: 3em;
	float: left;
}

#receiptPurchase
{
	float: right;
	margin-top: 13.2em;
	margin-right: 10em;
	text-align: right;
}

.placeholderBox
{
	width: 60%;
	display: inline-block;
	text-align: left;
	height: 3em;
	/*border: solid #E9E9E9 1.5px;*/
}

#hrpurchase
{
	width:85%;
}

.titleBox h3
{	
	font-size: 0.7em;
	text-align: left;
	margin-left: 10em;
	margin-top: 2em;
}


.placeholderBox input
{	
	margin-left: 10em;
	margin-top: 1em;
	width: 60%;
	height: 30px;
  	background-color: none;
  	border: solid black 2px;
  	border-radius: 2px;
  	font-color: #fff;
  	letter-spacing: 0.1em;
	border-radius: 1px;
}

.placeholderBox select
{
	margin-left: 10em;
	margin-top: 1em;
	width: 60%;
	height: 30px;
  	background-color: none;
  	border: solid black 2px;
  	border-radius: 2px;
  	font-color: #fff;
  	letter-spacing: 0.1em;
	border-radius: 1px;
}

#purchaseBut
{
	margin-top: 1em;
	margin-left: 80%;
	float: none;
	margin-bottom: 1em;
}

.receiptAfter
{
	width:35%;
	float: right;
	/*border: solid #E9E9E9 1.5px;*/
	margin-top: -1em;
	font-family:"Open Sans";
	margin-right: 2em;

}

@media ( max-width: 65em) {
  .titleBox{
    width: 100px;
  }
  .receiptAfter{
  	margin-top: -63.7em;
  }
}

@media ( max-width: 45em) {
  .placeholderBox input{
  margin-left:0em;
  width: 100%;

  }
  .placeholderBox {
  margin-left:0em;
  width: 100%;
  
  }
  .titleBox
  {
  	width: 90%;
  	height: 2.5em;
  	margin-left: -7em;
  	margin-bottom: 0.5em;
  }
  .pageTitle
  {
  	margin-left: 2em;
  	margin-bottom: 2em;

  }
  #personalInfoSection
  {
  	width:70%;
  }
  .formBox
  {
  	margin-left: 3em;
  }
  #paymentMethod {
  	margin-top: 2em;
  	margin-bottom: 2em;
  }
  .placeholderBox select
  {
  	margin-left: 0em;
  	width:100%;
  }
  #purchasePgTitle
  {
  	margin-left: 2.2em;
  	margin-bottom: 0.5em;
  }
  #purchaseBut
	{
	margin-top: 1em;
	margin-left: 73%;
	float: none;
	margin-bottom: 1em;
	}
.receiptAfter
	{
		margin-top:-15em; 
		margin-left: 13em;
		float: left;
		text-align: left;
	}
}

/*********** END OF PURCHASE PAGE ***********/

